/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}


html{
    --cl-primary: #05CBE9;
    --cl-secondary: #111D4A;
    --cl-t-1: hsl(0, 0%, 93%);

    --txt-400: 1rem;
    --txt-500: 1.25rem;
    --txt-600: 1.75rem;
}

/*utils*/
.font-400{
    font-size: var(--txt-400);
}
.font-500{
    font-size: var(--txt-500);
}
.font-600{
    font-size: var(--txt-600);
}

.bold{
    font-weight: bold;
}
/*utils*/

body{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2{
    color: var(--cl-primary);
}

.card{
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
    background-color: var(--cl-secondary);
    font-family: sans-serif;
    color: var(--cl-t-1);
    font-family: 'Blinker', sans-serif;
}

.card__img{
    flex: 0 0 16rem;
    min-width: 0;
    min-height: 0;
    object-fit: cover;
}

.card__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5em;
}

.card__content__title{
    display: flex;
    flex-direction: column;
    gap: 1.6em;
}

.card__content__title p{
    line-height: 1.75em;
}

.card__content__info{
    margin-top: 5em;
    display: flex;
    justify-content: space-between;
}

.card__content__info p{
    opacity: .6;
    line-height: 1;
    max-width: min-content;
}

.card__content__info time{
    font-size: 2em;
}

button{
    padding-inline: 2em;
    padding-block: .5em;
    align-self: flex-end;
    background-color: var(--cl-primary);
    color: var(--cl-secondary);
    font-weight: bold;
    text-align: center;
}


@media (min-width: 700px) {
    html{
        --txt-400: 1.12rem;
        --txt-500: 1.25rem;
        --txt-600: 2.25rem;
    }
    
    .card{
        flex-direction: row;
        max-width: min(90%, 60rem);
    }

    .card__content__title p{
        max-width: min(100%, 25rem);
    }
}