/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}


html{
    --cl-primary: #05CBE9;
    --cl-secondary: #111D4A;
    --cl-t-1: hsl(0, 0%, 93%);

    --txt-400: 1rem;
    --txt-500: 1.25rem;
    --txt-600: 1.75rem;
}

/*utils*/
.font-400{
    font-size: var(--txt-400);
}
.font-500{
    font-size: var(--txt-500);
}
.font-600{
    font-size: var(--txt-600);
}

.bold{
    font-weight: bold;
}
/*utils*/

h1{
    color: var(--cl-primary);
}

.card{
    display: flex;
    flex-direction: column;
    min-width: 20rem;
    min-height: 37rem;
    margin: 0 auto;
    background-color: var(--cl-secondary);
    font-family: sans-serif;
    color: var(--cl-t-1);
}

.card__img{
    flex-grow: 1;
    background-image: url("https://images.unsplash.com/photo-1539683255143-73a6b838b106?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=385&q=80");
    background-size: cover;
    background-repeat: no-repeat;
}

.card__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3em;
    flex-grow: 1;
}

.card__title{
    display: flex;
    flex-direction: column;
    gap: 1.6em;
}

.card__title p{
    line-height: 1.75em;
}

.card__info{
    display: flex;
    justify-content: space-between;
}

.card__info p{
    max-width: min-content;
}

button{
    min-width: 10em;
    padding-inline: 2em;
    padding-block: .5em;
    align-self: flex-end;
    background-color: var(--cl-primary);
    color: var(--cl-secondary);
    font-weight: bold;
}